/* Import Google fonts and Material Symbols (used by the UI) */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#app { height: 100%; }
body { font-family: "Spline Sans", "Lexend", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }